html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Hide the default body scrollbar */
}

body {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'WebFont';
    src: url(fonts/ParastooSwashes.otf);
}

body {
    background: url("bg.png") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 16px 16px 16px;
    font-family: 'WebFont';
    color: white;
}

.name {
    font-size: 64px;
    color: white;
}

.title {
    font-size: 39.56px;
    color: white;
}

.major {
    font-size: 25px;
    color: white;
}

.about {
    font-size: 16px;
    color: white;
}

.bordered {
    position: relative;
}

.bordered::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 0.5px;
    /* سماكة الحد */
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.15));
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.cv {
    font-size: 20px;
    color: white;
    text-align: center;
}

.glass {
    border-radius: 36px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 16px 16px 16px 16px;
    height: 65px;
    width: 200px;
    justify-content: center;
}

.glass:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.parent1 {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-btn {
    cursor: pointer;
    user-select: none;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.snap {
    scroll-snap-align: start;
    min-height: 100vh;
}

.p {
    font-size: 30px;
}

.aside {
    font-size: 25px;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    padding: 50px 16px 16px 16px;
    padding-bottom: 120px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 8px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    max-width: 900px;
    /* يتحكم بالعرض */
    margin: 0 auto;
    /* توسيط أفقي */
    justify-items: center;
    /* توسيط العناصر */
}

.box {
    width: 100%;
    height: 349px;
    border-radius: 12px;
}

.box img {
    width: 80%;
    border-radius: 12px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

.liquid-glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 24px;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 1px rgba(255, 255, 255, 0.5);
}

.view-dt {
    color: white;
    width: 151px;
    height: 36px;
}

.glass-btn {
    padding: 8px 16px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(0px);

    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 14px;

    color: white;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    transition:
        transform 0.25s ease,
        background 0.25s ease,
        box-shadow 0.25s ease;
}

.glass-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.04);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.25);
}

.glass-btn:active {
    transform: scale(0.97);
}

a {
    text-decoration: none;
    color: white;
}

.heading1 {
    font-size: 48px;
}

.heading2 {
    font-size: 30px;
}

.para {
    font-size: 20px;
}

table,
th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
}

.number-font {
    font-family: 'inter', sans-serif;
}

/* المودال */
.modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* الخلفية */
.modal-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(6px);
}

/* محتوى المودال */
.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    overflow: hidden;
    animation: scaleIn 0.25s ease;
}

.modal-content img {
    width: 100%;
    height: auto;
    display: block;
}

/* زر الإغلاق */
.close-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 26px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-content {
    overflow: auto;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 14px;
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #999;
}

.close-btn:hover {
    color: #000;
}

.warning-box {
    position: relative;
}

#mobileWarning {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .55);
    z-index: 9999;
}