.info {
  background-color: rgba(214, 196, 161, 0.3);
  padding: 20px 0px 50px 0px;
  margin-left: 10px;
  border-radius: 16px;
  text-align: center;
  margin-top: 99px;
}
.contact {
  font-size: 25px;
}
.my-button {
  margin-right: 10px;
  background-color: #7a8b5a;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.my-button:hover {
  background-color: #68774C;
}
