.navbar {
  display: flex;
  justify-content: space-between; /* يوزع العناصر أقصى اليمين وأقصى اليسار */
  align-items: center;
  padding: 10px 40px;
  background-color: rgba(214, 196, 161, 0.3); /* لون الخلفية الرملي */
  border-radius: 16px;
}

.left-items a {
  margin-right: 20px; /* مسافة بين الروابط */
  text-decoration: none;
  color: #4a4032;
  font-weight: 500;
  font-size: 20px;
}

.lang-btn {
  padding: 6px 12px;
  border: none;
  background-color: #7a8b5a; /* اللون الأخضر الزيتوني */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.right-item {
  color: #4a4032;
  font-size: 26px;
}
