.text {
  font-size: 30px;
  text-align: center;
}
.Card {
  position: relative;
  width: 300px;
  height: 280px;
  background-color: rgba(122, 139, 90, 0.2);
  border-radius: 24px;
  margin-right: 10px;
  border: 5px solid whitesmoke;
  padding: 5px;
}
img {
  margin-top: 20px;
  border-radius: 24px;
  width: 200px;
}
